@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset CSS básico */
*,
::after,
::before,
::backdrop,
::file-selector-button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0 solid;
}

.google-map * {
    border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

ol,
ul,
menu {
    list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: #f0f0f0;
}


main {
    transition: margin-left 0.3s ease;
    margin-left: 80px;
    /* Asegurar que tenga un margen izquierdo igual al ancho del sidebar */
    width: calc(100% - 80px);
    /* El ancho será el 100% menos 80px */
    box-sizing: border-box;
    /* Importante para que el padding y el border se incluyan dentro del ancho calculado */
}

main.desplazado {
    margin-left: calc(80px + 250px);
    /* Ancho del sidebar + ancho del submenu */
    width: calc(100% - (80px + 250px));
    /* Reduce aún más el ancho cuando el submenu está abierto */
}

/*-----------------------------------CARDS----------------------------------------*/
/*--------------------------------------------------------------------------------*/
#lista-usuarios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Prueba con 200px */
    gap: 15px;
    /* Espacio entre las cards */
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-top: 4rem;
}

.usuario-card {
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    /* Cambiamos la dirección del flex a columna */
    align-items: stretch;
    /* Estirar los elementos horizontalmente */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(135deg, rgba(81, 98, 175, 0.8), rgba(118, 75, 162, 0.8));
    cursor: pointer;
}

.usuario-card>* {
    /* Aplicar un margen a todos los hijos directos para espaciado */
    margin-bottom: 5px;
}

.usuario-card>*:last-child {
    /* Eliminar el margen inferior del último elemento */
    margin-bottom: 0;
}

.usuario-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.3);
}

.contenedor-nombre-icono {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Espacia el nombre/icono del menú */
    width: 100%;
    /* Ocupar todo el ancho de la tarjeta */
}

.nombre-usuario-card {
    font-size: 1em;
    font-weight: bold;
    color: #f0f0f0;
    margin-right: 10px;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icono-usuario-card {
    margin-right: 10px;
    color: #f0f0f0;
    font-size: 1.2em;
}

/* Ajustar el botón de opciones para que esté más cerca del borde */
.opciones-card {
    position: relative;
    margin-left: auto;
    /* Empuja el menú hacia la derecha */
}

.menu-opciones-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    /* Reducir el padding del botón */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu-opciones-btn svg {
    color: #f0f0f0;
}


.menu-opciones-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Un ligero fondo al pasar el ratón */
}

.usuario-card .info-oculta {
    display: none;
    /* Ocultar los detalles inicialmente */
    margin-top: 5px;
    color: #f0f0f0;
    text-align: justify;
}

/* Estilos para el menú desplegable */
.menu-desplegable {
    position: absolute;
    top: 100%;
    /* Se coloca debajo del botón */
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 2;
    /* Asegura que esté por encima de otros elementos */
    display: none;
    /* Oculto por defecto */
    min-width: 120px;
    /* Ancho mínimo del menú */
    padding: 5px 0;
}

.menu-desplegable.mostrar {
    display: block;
}

.menu-desplegable ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-desplegable li {
    margin: 0;
}

.opcion-menu {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 15px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.95em;
    color: #333;
    transition: background-color 0.3s ease;
}

.opcion-menu:hover {
    background-color: #f9f9f9;
}

.opcion-menu i {
    margin-right: 10px;
    font-size: 1em;
    color: #555;
    width: 16px;
    /* Para alinear los iconos */
    text-align: center;
}

/* Estilo específico para la opción de eliminar */
.opcion-eliminar {
    color: #dc3545;
}

#lista-usuarios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Crea columnas de al menos 300px y se ajusta al ancho */
    gap: 20px;
    /* Espacio entre las cards */
}

/*--------------------------------FIN CARDS----------------------------------------*/
/*17*/


/*----------------------------FORM EDITAR USUARIO---------------------------------*/
/*--------------------------------------------------------------------------------*/
.form-editar-usuario {
    -webkit-backdrop-filter: blur(10px);
    /* Para navegadores WebKit */
    backdrop-filter: blur(10px);
    /* Efecto de desenfoque */
    display: none;
    /* Oculto por defecto */
    margin-top: 10px;
    padding: 15px;
    /* Igual padding que el formulario de creación */
    border-radius: 10px;
    /* Igual radio de borde */
    background: rgba(255, 255, 255, 0.1);
    /* Fondo blanco semitransparente */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    /* Sombra suave */
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Borde blanco sutil */
    color: #f0f0f0;
    /* Color del texto */
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}

.form-editar-usuario>div {
    grid-column: 1 / -1;
}

.form-editar-usuario label {
    font-weight: bold;
    text-align: left;
    /* Alineación izquierda para las etiquetas */
    padding-right: 10px;
    /* Espacio a la derecha de las etiquetas */
    color: #f0f0f0;
    /* Color de las etiquetas */
}

.form-editar-usuario input[type="text"],
.form-editar-usuario input[type="number"],
.form-editar-usuario input[type="email"],
.form-editar-usuario input[type="date"] {
    padding: 8px;
    /* Igual padding que los inputs del formulario de creación */
    border: 1px solid rgba(255, 255, 255, 0.4);
    /* Borde más claro */
    border-radius: 4px;
    /* Igual radio de borde */
    width: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.158);
    /* Fondo semitransparente */
    color: #f0f0f0;
    /* Color del texto */
}

.form-editar-usuario input::placeholder {
    color: #f0f0f0;
    /* Color del placeholder */
}

.form-editar-usuario input[type="date"]::-webkit-calendar-picker-indicator {
    color: #f0f0f0;
    /* Color del icono del date picker */
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.botones-editar {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    /* Alineación de los botones a la derecha */
    gap: 10px;
    margin-top: 10px;
}

.botones-editar button {
    padding: 10px 15px;
    /* Igual padding que los botones del formulario de creación */
    background: rgba(46, 46, 46, 0.459);
    /* Fondo semitransparente */
    color: #f0f0f0;
    border: 1px solid rgba(46, 46, 46, 0.048);
    /* Borde */
    border-radius: 5px;
    /* Igual radio de borde */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    /* Sombra suave */
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.botones-editar button:hover {
    background-color: rgba(255, 255, 255, 0.25);
    /* Hover similar */
}

.botones-editar button:active {
    transform: scale(0.9);
    background-color: rgba(46, 46, 46, 0.7);
}

/* Estilos para layout más compacto en pantallas más grandes */
@media (min-width: 600px) {
    .form-editar-usuario>div {
        grid-column: auto / span 2;
    }

    .form-editar-usuario label {
        text-align: left;
        /* Aseguramos la alineación izquierda en pantallas grandes */
        padding-right: 10px;
    }

    .botones-editar {
        justify-content: flex-end;
        /* Mantenemos la alineación a la derecha de los botones */
    }
}

/*-------------------------FIN FORM EDITAR USUARIO---------------------------------*/



/*------------------------------------BUSCADOR-------------------------------------*/
/*--------------------------------------------------------------------------------*/
/* Estructura principal */
.search-wrapper {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    display: flex;
    align-items: center;
}

.search-wrapper .input-holder {
    height: 50px;
    width: 50px;
    overflow: visible;
    background: rgba(255, 255, 255, 0);
    border-radius: 6px;
    position: relative;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-wrapper.active .input-holder {
    width: 300px;
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.5);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search-wrapper .input-holder .search-input {
    width: 100%;
    height: 100%;
    padding: 0 50px 0 15px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    color: #FFF;
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}

.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translateX(0);
}

.search-wrapper .input-holder .search-input::placeholder {
    color: #FFF;
    /* Reemplaza 'red' con el color que desees */
    opacity: 0.2;
    /* Asegúrate de que la opacidad sea 1 para que sea visible */
}

.search-wrapper .input-holder .search-icon {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background: #FFF;
    padding: 0;
    outline: none;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.20);
}

.search-wrapper.active .input-holder .search-icon {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 30px;
}

.search-wrapper .input-holder .search-icon svg {
    stroke: #8146A4;
    stroke-width: 3px;
    width: 25px;
    height: 25px;
    transition: stroke 0.3s;
}

.search-wrapper.active .input-holder .search-icon svg {
    stroke: linear-gradient(135deg, rgba(81, 98, 175, 0.8), rgba(118, 75, 162, 0.8));
    width: 18px;
    height: 18px;
}

/* Hover cuando NO está activo */
.search-wrapper .input-holder .search-icon:hover {
    background: linear-gradient(135deg, rgba(81, 98, 175, 0.8), rgba(118, 75, 162, 0.8));
}

.search-wrapper .input-holder .search-icon:hover svg {
    stroke: #FFFFFF;
}

.search-wrapper.active .input-holder .search-icon:hover {
    background: linear-gradient(135deg, rgba(81, 98, 175, 0.8), rgba(118, 75, 162, 0.8));
}

.search-wrapper.active .input-holder .search-icon:hover svg {
    stroke: #FFFFFF;
}

/*--------------------------------FIN BUSCADOR-------------------------------------*/

/*------------------------------------SIDEBAR-------------------------------------*/
/*--------------------------------------------------------------------------------*/

/* Estilos para el menú lateral (ancho reducido) */
.sidebar {
    background-color: #2e2e2e;
    color: #f0f0f0;
    width: 80px;
    /* Ancho reducido */
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.637);
    overflow-x: hidden;
    /* Ocultar el contenido que exceda el ancho */
    transition: width 0.3s ease;
    /* Transición suave para el ancho si lo expandemos */
    z-index: 20;
}

.sidebar-header {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #555;
}

.sidebar-nav ul {
    padding: 0;
    list-style: none;
}


.sidebar-nav li {
    margin-bottom: 20px;
    display: flex;
    /* Convertir el li en un contenedor flex */
    justify-content: center;
    /* Centrar horizontalmente el botón */
}

.boton-sidebar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 10px 0;
    background-color: transparent;
    color: #f0f0f0;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    /* Sombra suave */
    transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.boton-sidebar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    background: linear-gradient(135deg, rgba(81, 98, 175, 0.8), rgba(118, 75, 162, 0.8));
}

.boton-sidebar:active {
    background-color: #5a6ac4;
    /* Un tono más oscuro */
    transform: scale(0.9);
    /* Ligeramente más pequeño */
}

.sidebar-submenu {
    padding-left: 20px;
    display: none;
    /* Oculto por defecto */
    z-index: 10;
}

.sidebar-submenu.mostrar {
    display: block;
}

/* Estilos para el submenú desplegable lateral */
.sidebar-submenu {
    position: fixed;
    /* Se superpone al contenido principal */
    top: 0;
    left: 80px;
    /* Se inicia justo al lado del menú lateral */
    background-color: #444;
    color: #f0f0f0;
    width: 250px;
    /* Ancho del panel desplegable */
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    z-index: 10;
    /* Asegurarse de que esté por encima del contenido */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.308);
    /* Sombra suave a la izquierda */
    transform: translateX(-100%);
    /* Ocultar inicialmente */
    transition: transform 0.3s ease-in-out;
}

.sidebar-submenu.mostrar {
    transform: translateX(0);
    /* Mostrar el panel desplegable */
}

.sidebar-submenu .filtro-campo {
    margin-bottom: 15px;
}

.sidebar-submenu label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #f0f0f0;
}

.sidebar-submenu select,
.sidebar-submenu button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #666;
    border-radius: 3px;
    background-color: #555;
    color: #f0f0f0;
    box-sizing: border-box;
    font-size: 0.9em;
    cursor: pointer;
}

/*--------------------------------FIN SIDEBAR-------------------------------------/*



/*-----------------------------FORM CREAR USUARIO---------------------------------*/
/*--------------------------------------------------------------------------------*/

#form-crear-usuario {
    -webkit-backdrop-filter: blur(10px);
    /* Para navegadores basados en WebKit (Safari, Chrome) */
    backdrop-filter: blur(10px);
    /* Aplica el efecto de desenfoque al fondo */
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    /* Un radio de borde un poco más pronunciado suele verse bien con el efecto glass */
    background: rgba(255, 255, 255, 0.1);
    /* Fondo blanco semitransparente */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    /* Sombra suave para dar profundidad */
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* Borde blanco sutil y semitransparente */
    color: #f0f0f0;
    /* Asegúrate de que el texto sea legible sobre el fondo */
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    align-items: center;
}

#form-crear-usuario>div {
    grid-column: 1 / -1;
    /* Ocupa todo el ancho para cada grupo label-input por defecto */
}

#form-crear-usuario label {
    color: #f0f0f0;
    /* Asegúrate de que las etiquetas sean legibles */
}

#form-crear-usuario input[type="text"],
#form-crear-usuario input[type="number"],
#form-crear-usuario input[type="email"],
#form-crear-usuario input[type="date"],
#form-crear-usuario select {
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    /* Borde más claro para los inputs */
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.158);
    /* Fondo semitransparente para los inputs */
    color: #f0f0f0;
    /* Color del texto dentro de los inputs */
}

#form-crear-usuario input::placeholder {
    /* Estilo para el texto de los placeholders */
    color: #f0f0f0;
}

/* Cambiar tamaño del ícono del date picker */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #f0f0f0;
    /* color del ícono (a veces no aplica) */
    cursor: pointer;
    width: 24px;
    height: 24px;
}

#ordenar-fecha-btn,
#ordenar-nombre-btn,
#limpiar-filtro-fecha,
#form-crear-usuario button[type="submit"] {
    grid-column: 1 / -1;
    /* Ocupa todo el ancho para el botón */
    padding: 10px 15px;
    background: rgba(46, 46, 46, 0.459);
    /* Fondo semitransparente para el botón */
    color: #f0f0f0;
    border: 1px solid rgba(46, 46, 46, 0.048);
    /* Borde para el botón */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    /* Sombra suave */
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    /* Transición suave para el hover */
}

#form-crear-usuario button[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.25);
    /* Ligeramente más oscuro al pasar el ratón */
}

#form-crear-usuario button:active {
    transform: scale(0.9);
    /* Ligeramente más pequeño */
    background-color: rgba(46, 46, 46, 0.7);
    /* Aumenta la opacidad, haciéndolo más oscuro */
}


/* Estilos para layout más compacto en pantallas más grandes */
@media (min-width: 600px) {
    #form-crear-usuario>div {
        grid-column: auto / span 2;
        /* Label y input en la misma fila */
    }

    #form-crear-usuario label {
        text-align: left;
        padding-right: 10px;
    }

    #form-crear-usuario button[type="submit"] {
        grid-column: 1 / -1;
        /* El botón sigue ocupando todo el ancho */
    }
}

/*-------------------------FIN FORM CREAR USUARIO---------------------------------*/


/*-----------------------------FILTRO POR FECHA-----------------------------------*/
/*--------------------------------------------------------------------------------*/
#filtrar-opciones input[type="number"] {
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    /* Borde más claro para los inputs */
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.158);
    /* Fondo semitransparente para los inputs */
    color: #f0f0f0;
    /* Color del texto dentro de los inputs */
}

#limpiar-filtro-fecha:hover {
    background-color: rgba(255, 255, 255, 0.25);
    /* Ligeramente más oscuro al pasar el ratón */
}

#limpiar-filtro-fecha:active {
    transform: scale(0.9);
    /* Ligeramente más pequeño */
    background-color: rgba(46, 46, 46, 0.7);
    /* Aumenta la opacidad, haciéndolo más oscuro */
}

/*-----------------------------FIN FILTRO POR FECHA-----------------------------------*/



/*-----------------------------------ORDENAR POR-----------------------------------*/
/*--------------------------------------------------------------------------------*/
#ordenar-nombre-btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
    /* Ligeramente más oscuro al pasar el ratón */
}

#ordenar-nombre-btn:active {
    transform: scale(0.9);
    /* Ligeramente más pequeño */
    background-color: rgba(46, 46, 46, 0.7);
    /* Aumenta la opacidad, haciéndolo más oscuro */
}

#ordenar-fecha-btn:hover {
    background-color: rgba(255, 255, 255, 0.25);
    /* Ligeramente más oscuro al pasar el ratón */
}

#ordenar-fecha-btn:active {
    transform: scale(0.9);
    /* Ligeramente más pequeño */
    background-color: rgba(46, 46, 46, 0.7);
    /* Aumenta la opacidad, haciéndolo más oscuro */
}

/*-----------------------------------FIN ORDENAR POR--------------------------------------*/


/*---------------------------------------TOAST-------------------------------------*/
/*--------------------------------------------------------------------------------*/

#toast-container {
    position: fixed;
    /* Posición fija respecto al viewport */
    top: 20px;
    /* Separación de la parte superior */
    left: 50%;
    /* Centrado horizontal */
    transform: translateX(-50%);
    /* Ajuste para el centrado real */
    z-index: 10000;
    /* Asegura que esté por encima de todo */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    pointer-events: none;
    /* Permite hacer clic en elementos debajo */
    width: auto;
    /* Ancho se ajusta al contenido */
    max-width: 90%;
    /* Máximo para móviles */
}

#toast-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    /* Un poco más de espacio entre toasts */
    pointer-events: none;
    width: auto;
    max-width: 90%;
}

.toast {
    /* Estilo de la tipografía y el contenedor */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

    /* MODIFICACIONES DE TAMAÑO */
    padding: 15px 20px;
    /* Más padding para mayor altura y anchura */
    font-size: 15px;
    /* Fuente ligeramente más grande */
    min-width: 300px;
    /* Mínimo de 300px */
    max-width: 500px;
    /* Máximo de 500px para evitar que sea enorme */

    font-weight: 500;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    /* Sombra más definida */
    border-radius: 5%;
    border: 1px solid transparent;
    pointer-events: all;

    /* Animación */
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

/* Clase para Mostrar el Toast (activada por JS) */
.toast.mostrar {
    opacity: 1;
    transform: translateY(0);
}

/* ÉXITO */
.toast.exito {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

/* PELIGRO */
.toast.peligro {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

/* INFORMACIÓN/EXPORTAR */
.toast.info {
    background-color: #fcefdc;
    color: #d97706;
    border-color: #fae3c3;
}

/* Toas Festivo */

.toast.fiesta {
    background: linear-gradient(135deg, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
    color: #d63384;
    border: 1px solid #ffc2c7;
    font-weight: bold;
    font-size: 16px;
}